# Dependencies
node_modules/
venv/
.venv/
__pycache__/
*.pyc

# Next.js Build
.next/

# Downloads & Temp
backend/downloads/
backend/temp_cookies/
job_storage.json

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS files
.DS_Store
Thumbs.db
