# Dependencies
node_modules/
venv/
.venv/
__pycache__/
*.pyc

# Next.js Build
.next/

# Cookies and secrets
backend/cookies.txt
backend/cookies copy.txt
.env
YT_COOKIES_CONTENT

# Downloads
backend/downloads/*
!backend/downloads/.gitkeep

# Environment
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS files
.DS_Store
Thumbs.db
